.jv-panama a,
.jv-panama a:not(.tg-link-button):hover,
.jv-panama a:active,
.jv-panama a:focus,
.jv-panama .tg-share-icons i {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease;
	-moz-transition: opacity 0.25s ease, color 0.25s ease;
	-ms-transition: opacity 0.25s ease, color 0.25s ease;
	-o-transition: opacity 0.25s ease, color 0.25s ease;
	transition: opacity 0.25s ease, color 0.25s ease;
}
.jv-panama a:not(.mejs-volume-slider):hover {
	opacity: 0.85;
}
.jv-panama .tg-center-inner {
	position: absolute;
}
.jv-panama .tg-item-content-holder {
	position: relative;
	display: block;
	padding: 22px 24px 14px 24px;
	text-align: left;
}
.jv-panama .tg-item-content-holder.no-media-before {
	padding: 6px 24px 14px 24px;
}
.jv-panama .tg-item-date,
.jv-panama .tg-cats-holder {
	position: relative;
	display: inline;
    padding: 0 10px 0 0;
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;
}
.jv-panama .quote-format .tg-item-date,
.jv-panama .link-format .tg-item-date {
	display: inline-block;
	margin: 12px 0 6px 0;
}
.jv-panama .tg-cats-holder:before {
    position: relative;
    display: inline-block;
	padding: 0 10px 0 0;
    content: '|';
    line-height: 22px;
}
.jv-panama .tg-item-title,
.jv-panama .tg-item-title a {
	position: relative;
    display: block;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 600;
	margin: 6px 0 0 0 !important;
	padding: 0 !important;
}
.jv-panama .tg-item-title a {
	margin: 0 !important;
}
.jv-panama .tg-item-excerpt {
	margin: 0 0 22px 0;
	padding: 0;
	font-size: 14px;
	line-height: 26px;
}
.jv-panama .tg-item-overlay {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;	
}
.jv-panama .tg-media-button,
.jv-panama .tg-link-button {
	position: relative;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    opacity: 0;
	padding: 6px 14px;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
}
.jv-panama .dark .tg-share-icons i,
.jv-panama .dark .tg-media-button,
.jv-panama .dark .tg-link-button {
	background: rgba(255,255,255,0.5);
}
.jv-panama .dark .tg-share-icons i:hover,
.jv-panama .dark .tg-media-button:hover,
.jv-panama .dark .tg-link-button:hover {
	background: rgba(255,255,255,0.85);
}
.jv-panama .light .tg-share-icons i,
.jv-panama .light .tg-media-button,
.jv-panama .light .tg-link-button {
	background: rgba(0,0,0,0.15);
}
.jv-panama .light .tg-share-icons i:hover,
.jv-panama .light .tg-media-button:hover,
.jv-panama .light .tg-link-button:hover {
	background: rgba(0,0,0,0.35);
}
.jv-panama .tg-media-button i,
.jv-panama .tg-link-button i {
	position: absolute;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.jv-panama .tg-item-footer {
	position: relative;
    display: inline-block;
    width: 100%;
	margin: 0;
	line-height: 25px;
}
.jv-panama .quote-format .tg-item-footer,
.jv-panama .link-format .tg-item-footer {
	margin: 18px 0 0 0;
}
.jv-panama .tg-item-author {
	position: relative;
    display: inline-block;
	float: left;
	font-size: 13px;
	font-style: italic;
}
.jv-panama .tg-item-author * {
	position: relative;
}
.jv-panama .tg-quote-icon,
.jv-panama .tg-link-icon {
	position: absolute;
    display: block;
    font-size: 24px;
    margin: 0;
    top: -24px;
    right: 20px;
    font-size: 80px;
    opacity: 0.14;
}
.jv-panama .quote-format,
.jv-panama .link-format {
	overflow: hidden;
}
.jv-panama .tg-link-content a,
.jv-panama .tg-quote-content a {
	display: block;
	margin: 18px 0 !important;
	text-transform: none;
	font-size: 18px;
	font-style: italic;
	line-height: 24px;
	font-weight: normal;
	letter-spacing: 0.5px;
}
.jv-panama .tg-quote-author,
.jv-panama .tg-link-url {
	position: relative;
    display: block;
    margin: 0;
    font-size: 13px;
    font-style: italic;
    text-align: right; 
}
.jv-panama .tg-quote-author:before {
	content: '\2012';
	position: relative;
    display: inline-block;
    margin: 0;
	padding: 0 5px 0 0;
}
.jv-panama .tg-item-comment {
	position: relative;
    display: inline-block;
	float: right;
	font-size: 13px;
}
.jv-panama .tg-item-comment i {
	position: relative;
    padding: 0 4px 0 6px;
    top: 2px;
    font-size: 15px;
}
.jv-panama .to-post-like {
	position: relative;
    display: inline-block;
    float: right;
	font-size: 13px;
	margin: 0 0 0 12px;
}
.jv-panama .to-post-like span {
	font-size: 13px;
}
.jv-panama .to-post-like .to-heart-icon {
	width: 14px;
    height: 13px;
}
.jv-panama .tg-link-button,
.jv-panama .tg-media-button {
	transform-origin: 50% 100% 0px;
    transform-style: flat;
	-webkit-transform: matrix3d(0.8, 0, 0, 0, 0, 0, 0.8, -0.0007, 0, -1, 0, 0, 0, 0, 0, 1);
	-moz-transform: matrix3d(0.8, 0, 0, 0, 0, 0, 0.8, -0.0007, 0, -1, 0, 0, 0, 0, 0, 1);
	-ms-transform: matrix3d(0.8, 0, 0, 0, 0, 0, 0.8, -0.0007, 0, -1, 0, 0, 0, 0, 0, 1);
	-o-transform: matrix3d(0.8, 0, 0, 0, 0, 0, 0.8, -0.0007, 0, -1, 0, 0, 0, 0, 0, 1);
	transform: matrix3d(0.8, 0, 0, 0, 0, 0, 0.8, -0.0007, 0, -1, 0, 0, 0, 0, 0, 1);
}
.jv-panama .tg-item-overlay,
.jv-panama .tg-media-button,
.jv-panama .tg-link-button {
	opacity: 0;
	-webkit-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	-moz-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
	-ms-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -ms-transform 0.3s ease-in-out;
	-o-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
	transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.jv-panama .tg-item-media-holder:hover .tg-item-overlay,
.jv-panama .tg-item-media-holder:hover .tg-media-button,
.jv-panama .tg-item-media-holder:hover .tg-link-button {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.jv-panama.tg-is-playing .tg-item-overlay,
.jv-panama.tg-force-play .tg-item-overlay {
	pointer-events: none;
	opacity: 0 !important;
}
.jv-panama .mejs-overlay-play {
	display: none !important;
}
.jv-panama .tg-share-icons {
	position: absolute;
    display: block;
    bottom: 0;
    left: 0;
	margin: 0;
}
.jv-panama .tg-share-icons {
	position: absolute;
    display: block;
    bottom: 0;
    left: 0;
	margin: 0;
}
.jv-panama .tg-share-icons a,
.jv-panama .tg-share-icons i {
    position: relative;
	display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
	font-size: 14px;
    line-height: 30px;
	cursor: pointer;
	text-align: center;
}
.jv-panama .tg-item-media-holder:hover .tg-share-icons a:nth-child(2){
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
}
.jv-panama .tg-item-media-holder:hover .tg-share-icons a:nth-child(3){
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}
.jv-panama .tg-item-media-holder:hover .tg-share-icons a:nth-child(4){
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}
.jv-panama .tg-share-icons a {
	opacity: 0;
	-webkit-transform: translate3d(0,30px,0);
	-moz-transform: translate3d(0,30px,0);
	-ms-transform: translate3d(0,30px,0);
	-o-transform: translate3d(0,30px,0);
	transform: translate3d(0,30px,0);
}
.jv-panama .tg-share-icons a,
.jv-panama .tg-share-icons i {
	-webkit-transition: -webkit-transform 0.15s ease-out, background 0.15s ease-out, opacity 0.15s ease-out;
	-moz-transition: -moz-transform 0.15s ease-out, background 0.15s ease-out, opacity 0.15s ease-out;
	-ms-transition: -ms-transform 0.15s ease-out, background 0.15s ease-out, opacity 0.15s ease-out;
	-o-transition: -o-transform 0.15s ease-out, background 0.15s ease-out, opacity 0.15s ease-out;
	transition: transform 0.15s ease-out, background 0.15s ease-out, opacity 0.15s ease-out;
}
.jv-panama .tg-item-media-holder:hover .tg-share-icons a {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/** Javo Rating average **/
.jv-panama .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    margin: 8px 5px;	
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-panama .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-panama .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-spot/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-panama .tg-jv-tax-wrap {margin-bottom:10px;}
.jv-panama .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#999 !important; letter-spacing:0.5em;}
.jv-panama .tg-jv-category {margin-right:15px;}