	// 0. common part
		//Sub 1. color
		//Sub 2. Font
		//Sub 3. button
		//Sub 4. jv button transition
		//Sub 5. jv-scrollbar
		//Sub 6. Back to top button & Quick contact us
		//Sub 7. radius
		//Sub 8. img
		//Sub 9. Media Query
		//Sub 10. display none
		//Sub 11. Mobile Menu
		//Sub 12. Map Navigation

	// 2. Single Page
		// Sub 1. Common Single Page
//===========================================================================================================
//===========================================================================================================

//========================================
//	0. common part
//========================================
//-------------------------------------------------------------------
//		 Sub 1. color
//-------------------------------------------------------------------
	@main-color:#ff5a5f;
	@main-action-color:#e00007;
	@title-color:#666;
	@description-color:#999;
	@sub-title-color:#fff;
	@sub-description-color:#ccc;

	@border-bottom-color:5px solid rgba( 255, 255, 255, .5 );
//-------------------------------------------------------------------
//		 Sub 2. Font
//-------------------------------------------------------------------

//-------------------------------------------------------------------
//		Sub 3. button
//-------------------------------------------------------------------

	button.btn {
		background-image:none;
		background-color:@main-color;
		background-image: none;
		background-color:@main-color;
		border-color:@main-color;
		box-shadow: none;
		color:@sub-title-color;
		text-shadow: none;
			&:hover,&:focus {
				background-color:@main-action-color;
				border-color:@main-action-color;
				color:@sub-title-color;
				outline:none;
			}
	}
//-------------------------------------------------------------------
//		Sub 4. jv button transition
//-------------------------------------------------------------------

	.jv-button-transition( @important:!important ) {
		position:relative;
		&:hover {
			background-color:darken(@main-color,10%) @important;
			border-color:darken(@main-color,10%) @important;
				-webkit-transition: all 01.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				-ms-transition: all 0.3s ease-out;
				-o-transition: all 0.3s ease-out;
				transition: all 0.3s ease-out;
			&:after{
				border-color:transparent;
				background-color: transparent;
				-webkit-transition: all 01.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				-ms-transition: all 0.3s ease-out;
				-o-transition: all 0.3s ease-out;
				transition: all 0.3s ease-out;
				color:#fff @important;
				width:100%;
			}
		}
		&:after {
			content: '';
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:0%;
			border-color:rgba(255,255,255,.4);
			background-color: rgba(255,255,255,.4);
			.border-radius;
			z-index:1;
			-webkit-transition:all 0.3s;
			-moz-transition:all 0.3s;
			-ms-transition:all 0.3s;
			-o-transition:all 0.3s;
			transition:all 0.3s ease-out;;

		}
	}
//-------------------------------------------------------------------
//		Sub 5. jv-scrollbar
//-------------------------------------------------------------------

	.jv-scrollbar {
			&::-webkit-scrollbar {
				width: 5px;

			}

			&::-webkit-scrollbar-track {
				background-color: transparent;
				border-radius: 5px;
			}

			&::-webkit-scrollbar-thumb {
				background-color:@description-color;
				border-radius: 5px;
			}
			&::-webkit-scrollbar-button {
				display:none;
			}

	}// End .jv-scrollbar
//-------------------------------------------------------------------
//		Sub 6. Back to top button & Quick contact us
//-------------------------------------------------------------------

	#back-to-top, a.btn.javo-quick-contact-us {
		background-color:@main-color;
		border-color:@main-color;
		&:hover {
			background-color:darken(@main-color,10%) !important;
			border-color:darken(@main-color,10%) !important;
			-webkit-transition: all 01.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				-ms-transition: all 0.3s ease-out;
				-o-transition: all 0.3s ease-out;
				transition: all 0.3s ease-out;
			&:after{
				border-color:transparent;
				background-color: transparent;
				-webkit-transition: all 01.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				-ms-transition: all 0.3s ease-out;
				-o-transition: all 0.3s ease-out;
				transition: all 0.3s ease-out;
				color:#fff !important;
				width:100%;
			}
		}
		&:after {
			content: '';
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:0%;
			border-color:rgba(255,255,255,.4);
			background-color: rgba(255,255,255,.4);
			.border-radius;
			z-index:1;
			-webkit-transition:all 0.3s;
			-moz-transition:all 0.3s;
			-ms-transition:all 0.3s;
			-o-transition:all 0.3s;
			transition:all 0.3s ease-out;;

		}
	}
//-------------------------------------------------------------------
//		Sub 7. radius
//-------------------------------------------------------------------

	.border-radius (@radius:3px;) {
	 border-radius:@radius;
	 -moz-border-radius:@radius;
	 -webkit-border-radius:@radius;
	}
//-------------------------------------------------------------------
//		Sub 8. img
//-------------------------------------------------------------------

	.javo-thb {
		background-size:cover;
	}
//-------------------------------------------------------------------
//		Sub 9. Media Query
//-------------------------------------------------------------------
	@xs-min: 320px;
	@sm-min: 768px;
	@md-min: 992px;
	@lg-min: 1250px;
	@xlg-min: 1401px;

	@xs-max: (@sm-min - 1);
	@sm-max: (@md-min - 1);
	@md-max: (@lg-min - 1);
	@lg-max: (@xlg-min - 1);

	@phone:          ~"only screen and (min-width: @{xs-min})";
	@phone-strict:   ~"only screen and (min-width: @{xs-min}) and (max-width: @{xs-max})";
	@tablet-strict:  ~"only screen and (min-width: @{sm-min}) and (max-width: @{sm-max})";
	@desktop:        ~"only screen and (min-width: @{md-min})";
	@desktop-strict: ~"only screen and (min-width: @{md-min}) and (max-width: @{md-max})";
	@large:          ~"only screen and (min-width: @{lg-min})";

	@mobile:		~"only screen and (min-width: @{xs-min}) and (max-width: @{xs-max})";

	@tablet-mini:		~"only screen and (min-width: @{sm-min}) and (max-width: @{sm-max})";
	@tablet:			 ~"only screen and (min-width: @{md-min}) and (max-width: @{md-max})";
	@notebook:		~"only screen and (min-width: @{lg-min}) and (max-width: @{lg-max})";

//-------------------------------------------------------------------
//		Sub 10. display none
//-------------------------------------------------------------------
	@media @mobile{
		.lava_mobile_display_none {
			display:none;
		}
	}

//-------------------------------------------------------------------
//		Sub 11. Mobile Menu
//-------------------------------------------------------------------
//Mobile 320px - 767px
	@media @mobile {
		// Mobile bottom Modal menu
		.navbar-mobile-wrap {
			display: block;
			position:fixed;
			width: 100%;
			bottom:0px;
			z-index:1000;
			-webkit-transition: all 01.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;

			.navbar-moblie {
				position: relative;
				padding: 10px 0;
				background: #e9e9e9;
				margin-right: 0;
				margin-left: 0;

				.javo-mobile-modal-button {
					height: 56px;
					border-radius: 100%;
					padding: 6px 21px;

					&:active {
						-ms-transform: rotate(45deg); /* IE 9 */
						-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
						transform: rotate(45deg);
					}
				}

				.navbar-toggle {
					border:none;
					padding: 9px 5px;
					color: @title-color;
					margin: 9px 0;

					i, img {
						font-size:20px;

					}
					&:hover, &:focus {
						background-color:transparent;
						color:@main-color;
					}
				}
			}
			body.mobile-ajax-top.lv-map-template & {
				display:none;
				visibility:hidden;
			}
		}
		#jv-mobile-search-form{
			.modal-dialog {
				position:absolute;
				left:0;
				right:0;
				padding:5px	;

				.modal-content{
					overflow:hidden;
					overflow-y:scroll;
					height:100%;
					border-radius:0;
					.modal-body {
						margin: 0;
						padding:0;
						border: none;
						.javo-shortcode{
							&.shortcode-jvfrm_spot_search1{
								.jv-search1-morefilter-row{
									max-height: 200px;
									overflow: hidden;
									overflow-y: scroll;
									padding: 0;
									/* margin: 0 25px; */
									margin: 1px 0;
									border: solid 1px #E1E1E1;
								}
								.jv-search1-actions-row{
									border:none;
									background-color:transparent;
									padding:0 5px 5px 5px;
									margin:0;
								}
								.search-box-inline{
									&:last-child{
										padding:0;
									}
								}
							}
						}
					}
				}
			}
		}
	}

//========================================
//	End 0. common part
//========================================

//========================================
//	2. Single Page
//========================================
//------------------------------------------------------------------
//		Sub 1. Common Single Page
//------------------------------------------------------------------

	body.single.single-lv_listing {
		header{
			.javo-main-navbar{
				#javo-navibar{
					.navbar-left{
						>.menu-item{
							a{color:#fff;}
						}
					}
				}
			}
		}
		.modal-backdrop{display:none;}
		ul {
			list-style:none;
			padding:0;
		}

		span.author_allpost_link a {
			color:#fff;
			font-weight:900;
			padding:5px 8px;
			border-radius:3px;
			margin-left:20px;
		}

		.single-item-tab-feature-bg-wrap{
			.captions {
				position: relative;
				top:60px;
				.header-inner {
					position: absolute;
					left:0;
					right:0;
					bottom: 0;
				}
			}
			.single-item-tab-bg {
				padding:0px;
				position: absolute;
				bottom: 70px;
				left: 0;
				right:0;
				margin:10px;
				background-color: transparent;
				color: #fff;

				.item-bg-left {
					width:100%;
					.single-header-terms{
						padding-left:70px;
						.tax-item-category,
						.tax-item-location{
							display:inline-block;
						}
						.tax-item-category{
							&:not(:empty){
								&:after{
									content:'/';
									display:inline-block;
									margin:0 5px;
								}
							}
						}
					}
					h1{
						letter-spacing: 3px;
						font-size:25px;
						margin-top: 0px;
						line-height: 30px;
						display:block;
						vertical-align:bottom;
						margin-bottom:0px;
						position:relative;
						padding-left:70px;
						.header-avatar{
							vertical-align:bottom;
							display:inline-block;
							position:absolute;
							left:0;
							bottom:0;

							img{
								position:absolute;
								bottom:0;
								border-radius:50%;
								width:56px !important;
								height:56px !important;
							}
						}
						a.link-review{
							position:absolute;
							display:inline-block;
							@media( max-width:768px ) {
								& {
									position:static;
									display:block;
								}
							}
							z-index:10;

							right:0;
							bottom:0;
							color:#fff;
							font-size:20px;
							font-weight:600;
							margin-right:15px;
							padding:0;
							.review-count{
								font-weight:300;
								letter-spacing:2px;
								text-transform:lowercase;
								font-size:15px;
								display:inline-block;
								color:#fff;
								&:before{
									content:'/';
									color:#fff;
									display:inline-block;
								}
							}
						}
					}
					.breadcrumb {
						display:inline-block;
						margin:0;
						padding:0;
						background-color:transparent;
						vertical-align: top;
						li {
							a{ color:@sub-title-color; }
						}
					}
					&:after{
						content:'';
						display:table;
					}
				}
				.item-bg-right {

					div {
						background-color:transparent;

						img{
							border-radius:0;

						}

					}
				}
			}
		}

		.single-item-tab-feature-bg{
			background-attachment: inherit !important;
			&:after{
				position:absolute;
				content:'';
				display:none;
				visibility:hidden;
			}

			&.shadow{
				&:after{
					display:block;
					visibility:visible;
					left:0;
					right:0;
					top:70%;
					bottom:0;
					background-color: transparent;
					background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.4));
					background-image: linear-gradient(transparent, rgba(0,0,0,0.4));
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0);";
					text-shadow: 0 1px 1px rgba(0,0,0,0.8);
				}
			}
			&.overlay{
				&:after{
					display:block;
					visibility:visible;
					left:0;
					right:0;
					top:0;
					bottom:0;
					background-color: rgba( 0, 0, 0, .5 );
				}
			}

			& > .jv-pallax{
				position:absolute;
				z-index:1;
				top:0;
				left:0;
				right:0;
				bottom:0;
			}
		}


		.javo-spyscroll {
			background:@title-color;
			margin-bottom:0px;
			height:70px;
			.nav-tabs {
				border-bottom: none;
				li{
					& a:hover,
					&.active a{
						content: '';
						color:rgba( 255, 255, 255, .5 );
						bottom: 0px;
						border-bottom:@border-bottom-color;
					}
					a {
						display: block;
						background-color:transparent;
						margin:0px 50px 0 0;
						color:#fff;
						border:none;
						height: 70px;
						line-height: 70px;
						padding: 0;
						letter-spacing:1px;
						font-size:13px;
						text-transform: uppercase;
						font-weight: 600;
						i { 	margin-right:2px; font-size: 0.90em;}
						&:active,
						&:focus{
							text-decoration:none;
						}
					}

				}
			}

			&.affix {
				position:fixed;
				left:0;
				right:0;
				top:0;
				z-index: 100;


			}
		}
		.single-item-tab {
			#dot-nav{
				right: 10px;
				top: 50%;
				margin-top: -50px;
				height: auto;
				z-index: 999;
				ul{
					list-style: none;
					margin: 0;
					padding: 0;
					li{
						position: relative;
						background-color: #bdc3c7;
						border: 3px solid #fff;
						border-radius: 15px 15px 15px 15px;
						cursor: pointer;
						padding: 5px;
						height: 10px;
						margin: 10px 10px 0px 0px;
						width: 10px;
						vertical-align: bottom;
						&.active{
							background-color: #ff5a5f;
						}
					}
				}
			}
			padding:0px;

			#javo-detail-item-content .panel-body {
				padding: 2px 0px 0px;
			}

			h3.page-header {
				color:@title-color;
				border-bottom:@border-bottom-color;
				display:inline-block;
				font-weight:900;
				font-size:18px;
				padding-bottom: 15px;
				letter-spacing: 4px;
				text-transform:uppercase;
				margin-bottom: 20px;
				margin-top:0px;
			}
			.container {
				.col-md-9 {
					#javo-detail-item-content {
						.panel{
							margin-bottom:0;
						}
						& >.col-md-12{
							padding:25px;
							margin-bottom:25px;
							&:first-child{
								margin-top:25px;
							}
						}
						#javo-item-detail-image-section{
							.row{
								display:table;
								margin:0;
								& > div{
									display:table-cell;
									padding:5px;
									float:none;
									a.link-display{
										display:block;
										position:relative;
										overflow:hidden;
										cursor:pointer;
										img{
											width:100%;
										}
										.overlay{
											position:absolute;
											top:0;
											right:0;
											bottom:0;
											left:0;
											text-align:center;
											background-image: linear-gradient( to top, rgba( 0, 0, 0, .7 ) 0%, rgba( 0, 0, 0, .3) 100% );
											span{
												position:absolute;
												top:50%;
												left:50%;
												margin:-11px -50px;
												color:#fff;
												font-size:22px;
												line-height:1;
												font-weight:bold;
											}
										}
									}
									&:first-child{
										padding-left:0;
									}
									&:last-child{
										padding-right:0;
									}
								}
							}
						}

						#javo-item-wc-vendor-section{
							.javo-shortcode{
								&.woocommerce{
									&.woocommerce-page{
										ul.products{
											& li.module{
												width:29.6%;
												height:250px;
												margin:0 15px 15px 0;
												.jv-hover-wrap{
													bottom:0;
													margin-bottom:-70px;
													del,
													ins{
														display:block;
													}
													del{
														font-size: 0.67em;
														color: rgba(145,145,145,0.5);
													}
													a.jv-woo-button{
														.jv-button-transition(~'');
														&,
														&:hover{
															color:#fff;
														}
													}
												}
												&:hover{
													.jv-hover-wrap{
														transform:none;
														margin-bottom:0;
													}
												}
												&:nth-child(3n){ margin:0; }
												&:nth-child(3n+1){
													clear:both;
												}
											}

										}

									}
								}
							}
						}

						#javo-item-amenities-section{
							#lava-directory-amenities{
								.lava-amenity{
									&:before{
										font-family: 'Glyphicons Halflings';
										content:'\e014';
										font-size: 1em;
										font-style: normal;
										font-weight: normal;
										line-height:1;
										vertical-align:middle;
										margin:0 10px 0 0;
									}
									&.showall{
										margin:0 10px 0 0;
										&:before{
											content:none;
										}
									}
									&.active{
										font-weight:500;
										color:#646464;
										&:before{
											content:'\e013';
										}
									}
									line-height:1;
									vertical-align:middle;
									text-transform:uppercase;
									margin:0 0 20px;
									@media( max-width:768px ){

										&:last-child{
											margin-bottom:0;
											padding-bottom:0;
										}
									}
								}
							}
						}
						#javo-item-keyword-section{
							margin-bottom:20px;
							padding-bottom:10px;
						}
						.media-3DViewer{
							iframe{
								min-height:400px;
							}
						}
						.lava-detail-images{
							&.flexslider{
								.flex-viewport{
									ul.lava-attach-item{
										> li{
											height:auto;
											> img{
												height:auto;
											}
										}
									}
								}

							}
						}
						.item-amenities{
							/* margin-bottom:25px; */
							.panel{
								.panel-body{
									padding:0px 15px;
									.expandable-content{
										p:last-child{
											display:none;
										}
									}
								}
							}
						}
						.item-summary {
							padding: 20px 25px;
							margin-top:25px;
							margin-bottom:25px;
							.item-summary-author {
								text-align: center;

								img {
									width:80px;
									height:80px;
									margin: 0 auto;
									border-radius:100%;

								}
								.javo-summary-author-name {
									margin-top:10px;
									color:@title-color;
									text-transform: uppercase;
									font-weight: 700;
									font-size: 13px;
									letter-spacing: 2px;
								}


							}
							.item-summary-inner{
								.item-summary-rating  {
									margin-bottom:30px;

									.item-summary-location {
										display:inline-block;
										color:@title-color;
										text-transform: uppercase;
										font-weight: 700;
										font-size: 13px;
										letter-spacing: 2px;
										margin-right:20px;
										padding-left: 25px;
									}
									.rating-num, .rating, .rating-user {
										display:inline-block;
										color:@sub-description-color;
										font-size: 15px;
										margin:0;

										@media @mobile {
											font-size:27px;
										}
									}

									.rating {

										i {
											color:#ffb400;
											margin-right:5px;

											&:last-child{
												margin-right:0px;
											}
										}
									}

									.rating-user {
										font-size: 10px;
										span {
											margin-right:5px;
										}
										@media @phone-strict {
											display:none;
										}
									}

								}

								.item-summary-icon {

									text-align: center;
									color:@title-color;
									text-transform: uppercase;
									font-weight: 700;
									font-size: 13px;
									letter-spacing: 2px;
									i {
										display:block;
										font-size:25px;
										margin-bottom:5px;
										color:@title-color;
									}
									p {
										border-bottom: 2px solid #eee;
										padding-bottom: 10px;
										font-size:12px;
									}
									span {
										font-size: 11px;
										color: @description-color;
									}

								}
							}
						}
						.item-media-video{
							.panel{
								iframe{
									width:100%;
								}
							}
						}
						.item-description {
							margin-bottom:25px;
							p {
								font-size:13px;
								color:@description-color;
								margin-bottom:0;
							}
							.claim_btn_wrap {
								@media @mobile {
									display:none;
								}
							}
							.panel{
								.panel-body{
									.jv-custom-post-content{
										padding:0 15px;
										.jv-custom-post-content-trigger{
											left:15px;
										}
									}
								}
							}
						}
						.item-condition{
							margin-bottom:25px;
							.panel{
								margin-bottom:0;
								.panel-body{
									padding: 0 15px;
									.summary_items{
										.col-xs-6{
											.row{
												border-bottom: 1px solid #eee;
												padding: 15px 0;
												&:first-child{
													border-top: 1px solid #eee;
												}
												.col-md-4{
													border-right: 1px solid #e9e9e9;
													color: #666;
													text-transform: uppercase;
													font-weight: 600;
													letter-spacing: 1px;
												}
												.col-md-8{color: #999;}
											}
										}
									}
								}
							}
						}

						.panel {
							border:none;
							box-shadow:none;
						}

					}
					.javo-detail-item-content-options {
						border-top: 2px solid #f4f4f4;
						padding: 20px 0;
						margin-right: 0;
						margin-left: 0;

						.col-md-3 {
							color:@title-color;
							text-transform: uppercase;
							font-weight: 700;
							font-size: 13px;
							letter-spacing: 2px;
						}

						.col-md-9.javo-detail-item-content-options-description {
							color:@description-color;

							.row {
								margin-bottom: 10px;

								.col-md-4 {

									i {
										margin-right:5px;
									}

									@media @phone-strict {
										width:100%;
										margin-top: 10px;
									}
									@media @tablet-strict {
										margin-top:10px;
									}
								}
							}

							.javo-detail-item-content-options-description-loadmore {
								font-size: 13px;
								font-weight: 700;
								letter-spacing: 3px;

								i {
									margin-right: 8px;
								}
							}

						}
					}
					#javo-item-education-section, #javo-item-experience-section{
						.not-found{
							font-size: 11px;
							text-transform: uppercase;
							letter-spacing: 1px;
							padding: 0 0 0 20px;
							color: #999;
						}
					}

					.javo-detail-item-faq {

						padding-top: 20px;
						margin-right: 0px;
						margin-left: 0px;
						.col-md-3 {
							color:@title-color;
							text-transform: uppercase;
							font-weight: 700;
							font-size: 13px;
							letter-spacing: 2px;
						}
						.panel {
							padding-left:15px;
							.panel-body {
								background:none;
								border:none;
								.border-radius;
								position: relative;
								cursor: pointer;
								padding: 0px 15px;
								.panel-title {
									color:@description-color;
									text-transform: uppercase;
									font-weight: 600;
									font-size: 11px;
									letter-spacing: 2px;
									text-decoration: none;
									padding-left: 10px;
									&:after {
										content: '\f078';
										font-family: FontAwesome;
										font-size:11px;
										color:@description-color;
										position: absolute;
										top:1px;
										left:0px;
									}
								}
							}
						}
						.panel-collapse {
							.list-group {
								border-top:none;
								.list-group-item {
								color:@description-color;
									font-weight: 500;
									font-size: 12px;
									letter-spacing: 0px;
									padding-left: 25px;
								}
							}
						}
						.lava_not_faq {
							font-size: 11px;
							text-transform: uppercase;
							letter-spacing: 1px;
							padding: 0 0 0 35px;
							color: #999;
						}
					}
					#javo-item-location-section {
						/* margin-bottom:25px; */
						.col-md-12{
							padding-bottom:15px;
						}
						.lava_not_location {
							font-size: 11px;
							text-transform: uppercase;
							letter-spacing: 1px;
							margin-bottom:100px;
							padding: 0 0 0 20px;
							color: #999;
						}
						.jv-single-map-wapper{
							position:relative;
							.jv-single-lv_listing-map-switcher{
								position:absolute;
								margin:0;
								z-index:2;
								top:50px;
								right:60px;
								li.switch-option-item{
									display:inline-block;
									width:56px;
									height:56px;
									cursor:pointer;
									text-indent:-9999px;
									background-image:url( '@{themeurl}/assets/images/icon/single-map-switcher.png' );
									background-repeat:no-repeat;
									background-position:1px 0;
									margin:0px 20px 0 0;
									background-color:rgba( 60, 60, 60, .25 );
									.border-radius(100%);
									&.option-map{
										background-position:1px -0px;
										&.active{
											background-position:1px -56px;
										}
									}
									&.option-streetview{
										margin-right:0px;
										background-position:1px -110px;
										&.active{
											background-position:1px -166px;
										}
									}
								}
							}
						}
					}
					#javo-item-author-section{
						@media( max-width:768px ){
							& > .row{
								display:none;
								visibility:hidden;
							}
						}
						/* margin-bottom:25px; */
						padding-bottom:25px;
						.item-summary-inner{
							.item-author-description{
								.row{
									& > div{
										&.col-md-8{
											line-height:10px;
											padding-bottom:10px;
											font-weight:900;
											text-transform:uppercase;
										}
										&:last-child{
											letter-spacing:1px;
											line-height:20px;
										}
									}
								}
							} // .item-author-description
						}// .item-summary-inner
					}
					#javo-detail-item-photos {
						margin-top:40px;

						.jv-photo-grid-top {
							padding: 0 15px;
							margin-bottom:3px;
							height:300px;

							.col-md-6 {
								padding:0 1.5px;
								height:100%;

							}



						}
						.jv-photo-gird-bottom {
							padding: 0 15px;
							height:200px;

							.col-md-4 {
								padding:0 1.5px;
								height:100%;

							}


						}


					}
					.javo-detail-item-author {
						margin-top:60px;
						background: #fafafa;
						.border-radius;
						border: 1px solid #e9e9e9;

						h3 {
							display:none;
						}
						.javo-detail-item-author-inner {

							padding:30px 0;


							.javo-avatar{
								height:150px;
								text-align: center;

								.javo-thb {
									border-radius: 100%;
									height: 150px;
									width: 150px;
									margin: 0 auto;
									margin-bottom: 15px;
								}
								.col-md-12 {


											.javo-author-meta-name {
												font-size: 13px;
												letter-spacing: 2px;
												font-weight: 700;
												color:@title-color;
												display: inline-block;
												text-transform: uppercase;
											}

											.javo-author-meta-email {
												font-size:11px;
												color:@description-color;
											}

											.javo-author-meta-name, .javo-author-meta-email {
												display:block;
											}

											@media @mobile {
												text-align:center;
												margin-top:10px;
											}

										}
							}
							.col-md-8 {

								.javo-author-meta {
									.javo-author-meta-info  {
										margin-top:15px;

										button {
											.border-radius;
											.jv-button-transition;
										}
										@media @mobile {
											text-align:center;
											margin-top:10px;
										}
									}

									.javo-author-meta-description {
										margin-bottom:20px;

										span {
											color:@description-color;
										}
									}

									.col-md-6 {
										span {
											padding-left:0px;
											margin-bottom:15px;
											color:@description-color;

											i {
												margin-right:10px;
											}
											@media @mobile {
												display:block;
											}
										}
									}

								}
							}
						}

					}
					#javo-detail-item-review{
						margin-top:40px;

						.total-rating {

							.total-rating-top-wrap {
								margin:40px 0;
								border: none;

								.total-rating-top {
									padding:0;

									.well {
										padding:0;
										margin-bottom:30px;

										.total-rating-title {
											margin-bottom:30px;
											display: inline-block;
											border-bottom:@border-bottom-color;

											h3 {
												letter-spacing:4px;
												display:inline-block;
												margin:0px;
												color:@title-color;
												margin-bottom: 15px;
												font-weight: 900;
												font-size: 18px;
												text-transform: uppercase;
											}

										}

										.total-rating-wrap {
											margin-right: 0;
											.total-rating-left-wrap {
												border: none;
												height:142px;
												position:relative;

												@media @mobile {
													height:auto;
												}
												&:last-child {

													color:@description-color;
												}

												.rating-inner-wrap{
													margin-bottom:10px;

													.rating-num, .rating, .rating-user {
														display:inline-block;
														color:@sub-description-color;
														font-size: 26px;

														@media @mobile {
															font-size:27px;
														}
													}

													.rating {

														i {
															color:#ffb400;
															margin-right:5px;
															&:last-child{
																margin-right:0px;
															}
														}
													}

													.rating-user {
														font-size: 10px;
														@media @phone-strict {
															display:none;
														}
													}
												}

											}
											.rating-desc-wrap {
												padding: 15px;
												border-radius: 3px;
												bordeR: 1px solid #e9e9e9;
												background: #fafafa;

												.rating-desc {
													float:right;
													width:100%;

													.progress-wrap{

														.progress-title {
															display: inline-block;
															float: left;
															margin-bottom: 5px;
															letter-spacing: 3px;
															font-size: 15px;
															color:@description-color;
															font-weight: 700;
															line-height: 30px;

															@media @mobile {
																padding-left:0px;
															}
														}

														.progress {
															box-shadow:none;
															float: right;
															padding:0;
															height: 30px;

															.progress-bar {
																text-align:center;
																background-color:#ffb400;
																background-image:none;
																box-shadow:none;
																line-height: 30px;
															}
														}
													}
													.row {
														margin-bottom: 10px;
														&:last-child{
															margin-bottom:0;
														}
													}
													.col-md-6 {
														color: @description-color;
														text-transform: uppercase;
														font-weight: 700;
														font-size: 13px;
														letter-spacing: 2px;
														text-align:left
													}

													.rating {
														text-align:right;
														i {
															font-size: 20px;
															color:#ffb400;
															margin-left: 5px;
														}
													}

												}
											}
										}
									}
								}
								#javo-review-form-container {
									padding:0px;
									background-color: transparent;
									border-color: transparent;
									border:none;

									text-align: right;
									min-height: 0px;

									.jv-rating-wrap {
										border:none;
										box-shadow: none;
										background-image:none;
										padding:0px 15px;
										display: table;
										width: 100%;

										.jv-rating-top-inner {
											padding: 20px 0;
											border-top: 2px solid #e9e9e9;

												.list-group {
												margin-top:0px;
												border: none;
												margin-bottom:0px;

												.list-group-item {
													border:none;
													padding: 10px 10px 10px 0;
													&:nth-child(2n) {
														padding:10px 0 10px 10px ;
													}

													.javo-raintg-form-field-label-wrap {
														text-align: left;
													}

													.javo-raintg-form-field-label-wrap {

														span {
															letter-spacing: 3px;
															display: inline-block;
															margin: 0px;
															font-size: 15px;
															color:@description-color;
															font-weight: 700;
														}
													}

													.javo_rat_star-warp {
														text-align: right;

														span {
															color:@description-color;

															img {
																width: 20px;
																height: 20px;
															}
														}
													}
												}
											}
										}
										.jv-rating-bottom-inner {
											padding:0px;

												textarea {
													.border-radius;
													height:160px;
													border: 2px solid #e9e9e9;
													box-shadow: none;
													&::-webkit-input-placeholder { /* WebKit browsers */
														color:@sub-description-color;
													}
													:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
														color:@sub-description-color;
													}
													::-moz-placeholder { /* Mozilla Firefox 19+ */
														color:@sub-description-color;
													}
													:-ms-input-placeholder { /* Internet Explorer 10+ */
														color:@sub-description-color;
													}
												}
										}
									}

									.comment_image_preview {

										.javo-thb {
											width: 76.4px;;
											height:76.4px;
											margin-right:5px;
											.border-radius(5px);
											border: 1px solid #e9e9e9;
											&:nth-child(10n) {
												margin-right:0px;
											}
										}
									}

									.jv-rating-submit-wrap {
										text-align:right;
										margin-top:3px;

										.jv-rating-cancel {
											text-align:left;
											margin-top:10px;
											padding: 0px;

											button {
												.border-radius;
											}
										}

										.jv-rating-submit {
											padding: 0px;
											margin-top:10px;

											button {
												.border-radius;
												padding: 6px 12px;
												font-size:12px;

												&.javo-fileupload {
													background:@description-color;
													border-color:@description-color;
												}

												p {
													margin:0px;
												}

												i {
													margin-right:5px;
												}
											}
										}
									}
									.delete-ready {
										margin-bottom: 5px;
										letter-spacing: 1px;
										font-size: 13px;
										color: #fff;
										font-weight: 600;
										line-height: 30px;
										background:@main-color;
										padding: 8px 20px 8px 45px;
										border-radius: 3px;
										position: relative;
										.jv-button-transition;
										&:before {
											content: '\f0e5';
											font-family: FontAwesome;
											font-size:15px;
											color:#fff;
											position: absolute;
											left:15px;
										}
									}
								}

								.javo-reviews-title-wrap {
									margin-top:40px;
								}

								#javo-detail-item-review-container {

									.javo-detail-item-review-inner {
										display: table;
										padding: 0px;
										padding-top: 20px;
										border-top: 2px solid #e9e9e9;
										&:first-child {

											border-top: none;
										}

										.review-left-wrap {
											text-align: center;
											margin-bottom: 40px;

											@media @mobile {
												display:none !important;
											}
											.javo-thb {
												margin: 0 auto;
											}

										}
									}

									.review-right-wrap {
										border: none;
										.border-radius;
										padding: 0px 15px 15px 15px;
										margin-bottom:20px;

										.review-author {

											.review-date {

												small {
													font-size:10px;
													color:@sub-description-color;
												}
											}
										}
										.review-rating {

											img {
												width:13px;
												height:13px;
											}

											.javo-detail-item-edit-comment {
												font-size:12px;
												color:@description-color;
												margin-left: 10px;
												img {
													width:15px;
												}
											}
										}

										.review-author, .review-rating {

											h4 {
												margin: 0;
												font-size: 13px;
												letter-spacing: 2px;
												font-weight: 700;
												color:@title-color;
												display:inline-block;
												text-transform: uppercase;
											}

											small {
												display:inline-block;
												font-size: 10px;
												letter-spacing: 1px;
												color:@description-color;
											}


										}
										.review-rating {
											.row {
												.col-md-12 {
													div {
														display:inline-block;
													}
												}
											}
										}

										.arrow {
											position: absolute;
											z-index: 5;
											left: -11px;
											width: 13px;
											height: 20px;
										}

										.javo-detail-item-comment-content-wrap {
											padding:15px 0;

											.javo-detail-item-comment-content {
												color:@title-color;
											}
										}
										.review-thumbnails-wrap {

											.review-thumbnails-inner {

												.javo-thb {
													height:90px;
													width:90px;
												}
											}
										}
										.javo-detail-item-reply-container {
											margin-top:10px;
											padding-top:25px;
											border-top: 1px solid #e9e9e9;

											.javo-detail-item-replys {
												margin-bottom:20px;
												line-height: 25px;

												.javo-detail-item-reply-inner {

													span {
														margin:0;
														font-weight:700;
														color:@title-color;
														letter-spacing: 2px;
														text-transform: uppercase;

														i {
															margin-right:10px;
															-ms-transform: rotate(180deg); /* IE 9 */
															-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
															transform: rotate(180deg);
														}
													}

													.javo-detail-item-reply-content {
														float: right;
														margin:0;
														color:@description-color;

														span {
															text-transform: none;
															font-size:13px;
															font-weight:500;
															letter-spacing: 0px;
															color:@description-color !important;
														}

														.javo-detail-item-reply-content-date {
															font-size:10px;
															display:block;
														}
													}
												}
											}
										}

										.javo-detail-item-reply-textarea {

											div.col-md-9, div.col-md-3 {
												margin-top:10px;
												line-height: 25px;
											}

											div.col-md-3 {

												span {
													margin:0;
													font-weight:700;
													color:@title-color;
													letter-spacing: 2px;
													text-transform: uppercase;
													font-size:12px;

													i {
														margin-right:10px;
														-ms-transform: rotate(180deg); /* IE 9 */
														-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
														transform: rotate(180deg);
													}
												}
											}
										}

										.javo-detail-item-reply {
											border:1px solid #e9e9e9;
											.border-radius;
											padding-left: 10px;
											color:@description-color;


										}

										strong {
											font-weight:600;
											color:@title-color;
										}
										.alert-warning {
											border:none;
											background-color:transparent;
										}
										.javo-detail-item-reply-meta{
											font-size:10px;
											color:@sub-description-color;
											line-height: 8px;
										}
									}
								}

								#javo-detail-item-review-loadmore {
									padding: 10px 40px;
									.border-radius;

								}
							}
						}
					}

					#javo-detail-item-location {
						margin-top:100px;
						.javo-detail-item-core-map {
							&>div {
								&:first-child {
									height:100%;


								}
							}
						}
						#javo-Di-map-panel {
							padding: 10px 20px;
							width:400px;
							height: 100%;
							margin:0;
							//right:15px;
							left:50px;
							border-top: 1px solid #eee;
							border-bottom: 1px solid #eee;
							.jv-scrollbar;
							#javo-Di-map-panel-inner {
								ul.nav-tabs {
									border: none;
									li {
										border-bottom:none;
										a {
											margin-right: 0px;
											border: none;
											border-radius:0;
											text-transform: uppercase;
											font-weight: 700;
											font-size: 13px;
											letter-spacing: 2px;

											&:hover, &:focus {
												background:@main-color;
												color:#fff;
												border-bottom:@border-bottom-color;
											}
										}
										&.active {
											a {
												border: none;
												border-bottom:@border-bottom-color;
											}
										}
									}

								}

								div.tab-content {
									border: none;

									#javo-Di-map-tab-commute {
										.panel{
											border:none;
											border-radius:0;
											box-shadow:none;
											.panel-heading {
												padding: 30px 0 10px 0;
												border-top-left-radius:0px;
												border-top-right-radius:0px;
												background-color:transparent;
												border-color:transparent;

												a {
													text-decoration: none;
												}
											}
											.panel-body {
												padding: 15px 0;

												li {
													color:@description-color;
													background-color: transparent;
													border: none;
													border-bottom: 1px solid #eee;
													padding:0;
													padding-bottom: 10px;
													margin: 0px 10px 10px 0px;
													&:first-child, &:last-child {
														border-top-left-radius: 0px;
														border-top-right-radius: 0px;
														border-bottom-right-radius: 0px;
														border-bottom-left-radius: 0px;
													}

													div.col-md-4 {
														text-align:right;
													}
												}
											}
										}
									}
									#javo-Di-map-tab-locality {
										h2 {
											margin-bottom: 20px;
											margin-top: 30px;
										}
										.panel-group {
											.panel {
												border-radius: 4px;
												border: 1px solid #e9e9e9;
												box-shadow:none;
												.panel-heading {
													background-color: transparent;
													border-color: #e9e9e9;
													.panel-title {
														a {
															color:@title-color;
															font-weight: 700;
															font-size: 13px;
															padding-bottom: 5px;
															letter-spacing: 1px;
															text-transform: uppercase;
															margin-bottom: 0;
															margin-top: 0;
															padding: 0;
															text-decoration: none;
															i {
																float:right;
																font-size: 17px;
																color: @description-color;
															}
															span {
																background-color:@main-color;
															}
														}
													}
												}
												.panel-collapse {

													li {
														border:none;
														border-bottom: 1px solid #eee;
														margin-bottom: 0px;
														padding: 5px 15px;
														font-size: 12px;
														color:@description-color;


														&:last-child {
															border-bottom:none;
														}
														div {
															color:@description-color;
														}
													}
												}
											}
										}
									}


									h3, h2 {
										color:@title-color;
										border-bottom: 2px solid @main-color;
										display: inline-block;
										font-weight: 900;
										font-size: 13px;
										padding-bottom: 5px;
										letter-spacing: 4px;
										text-transform: uppercase;
										margin-bottom:0;
										margin-top: 0;
									}
								}
							}
						}
					}
				}


				#javo-single-sidebar.col-md-3 {
					margin-top:0;
					padding-left:25px; padding-right:25px;
					.lava-wg-author-contact-form{
						position: relative;
						top: -70px;

						@media @mobile {
						    top:0px;
						}

						.panel {
							margin-bottom:0;
							border:none;
							background:transparent;
							z-index:2 !important;
							.panel-heading {

								background-color:@main-color;
								color:@sub-title-color;
								border-top-left-radius: 0px;
								border-top-right-radius: 0px;
								border:none;
								line-height: 50px;
								.col-md-12 {
									font-size:22px;
									letter-spacing: 2px;
								}
								position:relative;
								&:before{
									content:'';
									position:absolute;
									top:0;
									bottom:0;
									left:0;
									right:0;
									background-color:rgba( 255, 255, 255, .12 );
								}
							}
							.panel-body {
								background:#fff;
								border:1px solid #ddd;

								margin-bottom:20px;
								.border-radius;

								&:nth-child(2){
										border-top:none;
										border-radius:0px;
										border-bottom:0;
										padding:0 15px;
										margin-bottom:0;
								}
								.list-group {
									.list-group-item {
										border:none;
										padding:0;
										.row {
											padding: 10px 0;
											border-top: 1px solid #e9e9e9;

											.col-lg-4 {
												border-right:1px solid #eee;
												font-size:13px;
												font-weight: 600;
												color:#454545;
												padding-left:10px;
												text-align:center;
												text-transform:uppercase;

											}
											.col-lg-8 {
												font-size:13px;
												color:#646464;
												a{font-size:13px; color:#646464;}
											}
										}
										.collapse {
											.row {
												&:first-child {
													border-top:none;
												}
											}
										}
										button {
											width: 100%;
											.border-radius;
											background:@main-color;
											border: 1px solid @main-color;
											&.upload-files {
												background:#f4f4f4;
												border: 1px solid #e9e9e9;
												color:#666;
											}
										}


									}
								}
							}

							.author-contact-button-wrap {
								border: 1px solid #ddd;
								.border-radius;
								border-top-left-radius: 0px;
								border-top-right-radius: 0px;
								border-top:1px solid #ddd !important;
								margin-bottom:0;
								.book, .wish {
									margin-bottom:15px;
								}

								button {
									.border-radius;
									border-color:#e9e9e9;
									background-color:#f4f4f4;
									color:#666;
									position:relative;
									text-transform: uppercase;
									font-size:13px;
									font-weight:600;
									letter-spacing:1px;
									&:hover {
										color:#fff;
										-webkit-transition: all 01.3s ease-out;
										-moz-transition: all 0.3s ease-out;
										-ms-transition: all 0.3s ease-out;
										-o-transition: all 0.3s ease-out;
										transition: all 0.3s ease-out;
										&:after{
											border-color:transparent;
											background-color: transparent;
											-webkit-transition: all 01.3s ease-out;
											-moz-transition: all 0.3s ease-out;
											-ms-transition: all 0.3s ease-out;
											-o-transition: all 0.3s ease-out;
											transition: all 0.3s ease-out;
											color:#fff !important;
											width:100%;
										}
									}
									&:after {
										content: '';
										position:absolute;
										top:0;
										left:0;
										height:100%;
										width:0%;
										border-color:rgba(255,255,255,.4);
										background-color: rgba(255,255,255,.4);
										.border-radius;
										z-index:1;
										-webkit-transition:all 0.3s;
										-moz-transition:all 0.3s;
										-ms-transition:all 0.3s;
										-o-transition:all 0.3s;
										transition:all 0.3s ease-out;;

									}
									i {
											margin-right:5px;
									}
								}
								.wish {
									a {
										background: #f4f4f4;
										border: 1px solid #e9e9e9;
										color: #666;
										width: 100%;
										display: inherit;
										text-align: center;
										padding: 10px;
										border-radius: 3px;
										text-transform: uppercase;
										letter-spacing: 1px;
										font-weight: 600;
										.jv-button-transition;
										&:hover {
											background:@main-color;
											border-color:@main-color;
											color:#fff;
										}
										&:focus {
											text-decoration: none;
										}
									}
								}
								>.row{
									&:last-child{
										&:not(.share){
											margin-top:15px;
										}
									}
								}
								.share {
									div {
										color:@sub-description-color;
										a {
											color:@sub-description-color;
											font-size: 20px;
											margin-right: 20px;
										}
									}
								}
								.lava_contact_modal_button {
									width: 100%;
									background: #ff5a5f;
									border: 1px solid #ff5a5f;
									margin-bottom: 15px;
									color: #fff;
									font-size: 14px;
									text-transform: uppercase;
									font-weight: 600;
									letter-spacing: 1px;
									padding: 9px;
								}
								.modal {
									background:rgba(0,0,0,0.5);
									.modal-dialog {
										margin: 5% auto;
										.modal-content {
											padding:20px;
											background: #fafafa;
											.contact-form-widget-wrap {
												.ninja-forms-cont{
													font-size: 12px;
													color: #777;
													.field-wrap {
														label {
															letter-spacing: 1px;
															text-transform: uppercase;
															font-size: 11px;
														}
														input, textarea, select {
															width:100%;
															margin: 0;
															border-radius: 3px;
															font-family: inherit;
															padding: 0.428571429rem;
															background:#fff;
															border:1px solid #e9e9e9;
															box-shadow:none;
															color:#999;

															&[type="submit"] {
																background: #ff5a5f;
																border: 1px solid #ff5a5f;
																padding: 10px;
																box-shadow: none;
																color: #fff;
																text-transform: uppercase;
																letter-spacing: 1px;
																font-weight: 600;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
						.share {
							button {
								width:100%;
							}
						}
					}

					.lava-single-sidebar{
						.widget.widget_javo_single_post_slider{
							padding:10px 13px;
							h2.widgettitle{
								padding-left:5px; padding-top:5px;
							}
							.shortcode-jv_slider2{
								.shortcode-output{
									.flexslider{
										border:none;
										padding:0 5px 5px;
									}
								}
							}
						}
					}
				}

			}
			#dot-nav {
				@media @mobile {
					display:none;
				}
				ul {

					li {
						background-color: #fff;
						border: 3px solid #ddd;
						&.active, &:hover {
							background-color:@main-color;
						}
					}
					.tooltip {
						.tooltip-arrow {
							border-left-color:@title-color;
						}
						.tooltip-inner {
							padding: 4px 12px;
							background-color:@title-color;
						}
					}
				}
			}

		}
		.lava-Di-share-dialog#lava-alert-box {
			padding:0;
			width: 800px;
			border:none;

			&:before {
				content: "";
				width: 100%;
				height: 100%;
				outline: 9999px solid rgba(30, 30, 30, 0.6);
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
			}
			h5 {
				margin:0;
				.row {
					margin:0;
					.col-md-12 {
						padding:0;
						.modal-header {
							background:@main-color;
							text-align: center;
							border-top-right-radius:3px;
							border-top-left-radius:3px;
							color: #fff;
							display: block;
							font-weight: 900;
							font-size: 18px;
							letter-spacing: 4px;
							text-transform: uppercase;
							border-bottom:none;

							button {
								opacity:1;
								margin-top: 0px;
								span {
									color:#fff;
									position: absolute;
									right: 25px;
								}
							}
						}
						.row {
							margin:30px 15px;
							.col-md-9 {
								.input-group {
									border: 2px solid #e9e9e9;
									border-radius: 3px;

									span {
										padding: 14px 12px;
										background: #f4f4f4;
										border: none;
									}
									input {
										padding: 24px 12px;
										border-top-right-radius:3px;
										border-bottom-right-radius:3px;
										border: none;
										box-shadow: none;
										background: #fff;
									}
								}
							}
							.col-md-3 {
								button {
									padding: 14px 12px;
									.border-radius;
								}
							}
							.col-md-4 {
									button {
										.border-radius;
										padding: 14px 12px;
									}
									&:nth-child(1){
										button {
											background:#3B5998;
											border-color:#3B5998;
									}
									}
									&:nth-child(2){
										button {
											background:#4099FF;
											border-color:#4099FF;
										}
									}
									&:nth-child(3){
										button {
											background:#D34836;
											border-color:#D34836;
									}
								}
							}
						}
					}
				}
			}
			.modal-body {
				padding: 30px;
				background: #f4f4f4;
				border-bottom-right-radius:3px;
				border-bottom-left-radius:3px;
				p {
					display:none;
				}
				.row {
					&:nth-child(1) {
						margin-bottom: 30px;
					}
				}
			}

		}//	End .javo-Di-share-dialog#lava-alert-box
		.expandable-content-wrap {
			position: relative;
			height:6em;
			overflow:hidden;
			outline:none;
				-webkit-transition: all .3s ease-out;
			-moz-transition: all .3s ease-out;
			-ms-transition: all .3s ease-out;
			-o-transition: all .3s ease-out;
			transition: all .3s ease-out;
			&.loaded{
				height:auto;
				.expandable-content-overlay{
					top:100%;
					opacity:0;
				}
			}
		}

		.expandable-content-overlay {
			position: absolute;
			opacity:1;
			top: 3em;
			height: 50px;
			width: 100%;
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(255,255,255,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

			div{
				position: absolute;
				cursor:pointer;
				/* bottom: 10px; */
				bottom:0;
				color: #ff5a5f;
				text-transform: uppercase;
				font-weight: 600;
			}
		}

		.jv-custom-post-content{
			&,
			& > .jv-custom-post-content-inner{
				position:relative;
			}
			& > .jv-custom-post-content-inner{
				height:150px;
				overflow:hidden;
				transition: all .3s ease-out;
				-webkit-transition: all .3s ease-out;
				-moz-transition: all .3s ease-out;
				letter-spacing:1px;
				&:after{
					content:'';
					position:absolute;
					top:0;
					left:0;
					right:0;
					bottom:0;
					background-image: linear-gradient( top, rgba( 255, 255, 255, 0 ) 30%, rgba( 255, 255, 255, 1 ) 80% );
					background-image: -webkit-linear-gradient( top, rgba( 255, 255, 255, 0 ) 30%, rgba( 255, 255, 255, 1 ) 80% );
					background-image: -moz-linear-gradient( top, rgba( 255, 255, 255, 0 ) 30%, rgba( 255, 255, 255, 1 ) 80% );
					background-image: -ms-linear-gradient( top, rgba( 255, 255, 255, 0 ) 30%, rgba( 255, 255, 255, 1 ) 80% );
					background-image: -o-linear-gradient( top, rgba( 255, 255, 255, 0 ) 30%, rgba( 255, 255, 255, 1 ) 80% );
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
				}
			}
			& > .jv-custom-post-content-trigger{
				position: absolute;
				cursor:pointer;
				left:0;
				bottom:6px;
				text-transform: uppercase;
				font-weight: 600;
			}
			&.loaded{
				& > .jv-custom-post-content-inner{
					height:auto;
					&:after{
						content:none;
						display:none;
						visibility:hidden;
					}
				}
				& > .jv-custom-post-content-trigger{
					display:none;
					visibility:hidden;
				}
			}
		}
	}


//========================================
//	End 2. Single Page
//========================================
.modal.lava_contact_modal,
.modal.lava_report_modal{
	background-color:rgba( 0, 0, 0, .5 );
	z-index:100000;
	button.close{
		float:none;
		display:block;
		width:100%;
		text-align:right;
	}

}
.lava-wg-author-contact-form{
	.panel-heading {
		h3 {
			color: #fff;
			font-weight: 900;
			font-size: 18px;
			letter-spacing: 4px;
			text-transform: uppercase;
			margin: 15px 0;
			text-align: center;
			background: transparent;
			border: none;
			padding: 0;
			line-height:1.1;
		}
	}
	.panel-body {
		.list-group {
			margin-bottom: 0;
			button {
				text-transform: uppercase;
				font-size: 13px;
			}
		}
	}
}
.lava_contact_modal,
.lava_report_modal{

	background:rgba(0,0,0,0.5);
	.modal-dialog {
		margin: 5% auto;
		.modal-content {
			padding:20px;
			background: #fafafa;
			.modal-body{
				padding:0;
				.contact-form-widget-wrap {
					.ninja-forms-cont{
						font-size: 12px;
						color: #777;
						.field-wrap {
							label {
								letter-spacing: 1px;
								text-transform: uppercase;
								font-size: 11px;
							}
							input, textarea, select {
								width:100%;
								margin: 0;
								border-radius: 3px;
								font-family: inherit;
								padding: 0.428571429rem;
								background:#fff;
								border:1px solid #e9e9e9;
								box-shadow:none;
								color:#999;

								&[type="submit"] {
									background: #ff5a5f;
									border: 1px solid #ff5a5f;
									padding: 10px;
									box-shadow: none;
									color: #fff;
									text-transform: uppercase;
									letter-spacing: 1px;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
		}
	}

	.contact-form-widget-wrap {
		ninja-forms-required-items {
			display:none;
		}
		.page-header {
			color: #666666;
			border-bottom: 5px solid #ff5a5f;
			display: inline-block;
			font-weight: 900;
			font-size: 18px;
			padding-bottom: 15px;
			letter-spacing: 4px;
			text-transform: uppercase;
			margin-bottom: 15px;
			margin-top: 15px;
		}
	}
}
#lava-alert-box {
	width: 30%;
	.lava_report_wrap{
		position:relative;
		h2.page-header{
			border-bottom: 5px solid #ff5a5f;
			display: block;
			padding-bottom: 15px;
			letter-spacing: 4px;
			text-transform: uppercase;
			margin-bottom: 30px;
			margin-top: 0;
		}
		input[type=submit]{
			    width: 100%;
			    font-size: 13px;
			    text-transform: uppercase;
			    letter-spacing: 1px;
			    font-weight: 600;
			    background: #ff5a5f;
			    color: #fff;
			    border: 1px solid #ff5a5f;
		}
		label{
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
			color: #666;
			letter-spacing: 1px;
		}
		select, input, textarea{
			border: 1px solid #ddd;
			padding: 10px;
			border-radius: 3px;
		}
		button.close{
			position: absolute;
			right: 0;
			z-index: 1;
		}
	}
	&:focus{
		outline:0;
	}
}


//------------------------------------------------------------------
//		Sub 4. Javo Shortcode Image Categories
//------------------------------------------------------------------
	@media (max-width:767px){
		.javo-featured-block{
			margin:10px auto;
		}
	}
	.javo-featured-block img{width:100%;}
	.javo-featured-block.javo-image-middle-size img{position:relative;}
	.javo-featured-block.javo-image-full-size img{position:relative;}
	.javo-featured-block .javo-text-wrap{
		position:absolute;
		top: 0%;
		width:100%;
		height:100%;
		background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.65)));
		background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.65) );
	}
	.javo-featured-block {
		a {
			img {
				-webkit-transition: all 0.4s ease-in-out;
				-moz-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				-ms-transition: all 0.4s ease-in-out;
				transition: all 0.4s ease-in-out;
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-o-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
			}
		}
		.jvfrm_spot_text_description-wrap {
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			opacity: 0;
			top:30%;
			-webkit-transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			-ms-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
			-webkit-transform: scale(0);
			-moz-transform: scale(0);
			-o-transform: scale(0);
			-ms-transform: scale(0);
			transform: scale(0);
			-webkit-backface-visibility: hidden; /*for a smooth font */
		}
		.javo-image-overlay {
			opacity: 0;
			z-index: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			-webkit-transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			-ms-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
		}
		&:hover {
			.jvfrm_spot_text_description-wrap {
				opacity: 1;
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-o-transform: scale(1);
				-ms-transform: scale(1);
				transform: scale(1);
			}
			.javo-image-overlay {
				opacity: 0.7;
				z-index: 0;
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;

			}
			a {
				img {
					-webkit-transform: scale(1.1);
					-moz-transform: scale(1.1);
					-o-transform: scale(1.1);
					-ms-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
		}
	}






//------------------------------------------------------------------
//		Sub 3. Javo Shortcode Featured Item
//------------------------------------------------------------------

	#javo-featured-items-wrap {

		margin: 0 auto;
		border: 2px solid #777;
		background:#777;
		border-radius: 10px;
		padding: 20px 0;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		&:hover {
			border: 2px solid #888;
			background:#888;
		}
		.jv-featured-property-img {
			text-align:center;
			img {
				width:80px !important;
				height:80px;
				border-radius:100%;
			}
		}
		.jv-featured-property-meta-wrap {

			.jv-featured-property-title {
				overflow: hidden;
				height: 80px;
				position: relative;
				display: table;
				margin:0;
				h4{
					a {
						letter-spacing: 1px;
						font-weight: 600;
						color: #fff;
						text-transform: uppercase;
						display: table-cell;
						vertical-align: middle;
					}
				}
			}
			.jv-featured-property-des {
				text-align: center;
				line-height: 80px;
				span {
					font-size: 13px;
					letter-spacing: 1px;
					font-weight: 600;
					color: #fff;
					margin-right: 30px;
					text-transform: uppercase;
					&:nth-child(3) {
						border:1px solid #fff;
						color:#fff;
						padding:3px 12px;
						border-radius:3px;
						.jv-button-transition;
					}
					&:last-child {
						margin-right:0;
					}
				}
			}
			.jv-featured-property-view {
				line-height: 80px;
				a.btn {
					text-transform: uppercase;
					font-size: 12px;
					letter-spacing: 1px;
					font-weight: 600;
					background-image: none;
					background-color: #ff5a5f;
					border-color: #ff5a5f;
					box-shadow: none;
					color: #ffffff;
					text-shadow: none;
				}
			}
		}
	}





//------------------------------------------------------------------
//		Sub 4. Type-B Single Item Page
//------------------------------------------------------------------

.margin-top-zero {margin-top:0 !important;}

body.single.single-lv_listing.type-b {
	background-color:#fff !important;
	background-image : none;

	/** Header */
	#javo-detail-item-header-wrap-sticky-wrapper{
		.javo-detail-item-header-wrap{
			#javo-detail-item-header{
				ul.nav-tabs{
					li.javo-single-nav{
						&.active{

						}
					}
				}
			}
		}

	}


	.single-item-tab .container .col-md-9 #javo-detail-item-content .item-summary .item-summary-author img {width:21px; height:21px;}
	.single-item-tab-feature-bg .single-item-tab-bg .captions {
		position: relative;
		top:auto;
		bottom:215px;
		z-index: 100;
		.header-inner{
			position: absolute;
			left:0;
			bottom: 0;
			right:0;
			overflow:hidden;
			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				box-shadow: 0 -10px 45px 29px rgba( 0, 0, 0, .35 );
				-webkit-box-shadow: 0 -10px 45px 29px rgba( 0, 0, 0, .35 );
				z-index: -1;
			}
			.item-bg-left{
				padding:0 0 30px 0;
				h1 {
					font-size:38px;
					font-weight:900;
					text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
				}
			}
		}

		.taxonomy-wrap {
			padding:10px 0;
			.item_cate, .listing_location {
				font-size:11px;
				padding:3px 5px;
				border-style:solid;
				border-width:1px;
				border-color:#000;
				&:empty{
					display:none;
					visibility:hidden;
				}
			}
			.listing_location {
				background-color:#000;
			}
		}
	}


	.single-item-tab-feature-bg {
		position: relative;
		z-index:-1;
		height: 100%;
		min-height: 800px;
		margin-top: 0px;
	}

	.single-item-tab-feature-bg .single-item-tab-bg {
		padding: 0px;
		position: absolute;
		bottom: 0px;
		left: 0;
		right: 0;
		margin: 0px;
		background-color: transparent;
		color: #fff;
	}

	.single-featured-img-wrap {
		position:relative;
		padding:0px;
		margin:0px;
		.single-featured-img {
			img {width:100%; height:100%;}
		}
		.single-img-gradient {
			position:absolute;
			z-index:2;
			right:0; bottom:0; left:0;
			height:300px;
			background: none;
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
			background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
			background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
		}

	}

	.wrapper{
		position: static;
		margin-top: -300px;
	    /* margin-bottom: -280px;*/
		background-color: #fff;
		padding: 20px;
		border-radius: 10px 10px 0 0;
		z-index:3;
	        -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
		box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
		.item-summary {padding-top:0 !important;}

		#javo-detail-item-content .item-summary .item-summary-author img {width:40px; height:40px;}
		.item-summary-author a.jv_author_img_small img {width:40px; height:40px;}

		&:before{
			content:'';
			display:block;
			-webkit-box-shadow: 0 -100px 10px rgba(0, 0, 0, 0.4);
		}

		span.author_allpost_link a {
			color:#fff;
			font-weight:900;
			padding:5px 8px;
			border-radius:3px;
			margin-left:20px;
		}
		.jv-single-map-wapper {width:100% !important; margin-left:0px !important;}

		h3.page-header {
			color:@title-color;
			font-size:18px;

			position:relative;
			left:-10px;
			color:#fff;
			background:#40aed8;
			font-size:1.5em;
			padding:10px 15px 10px 20px;
			margin-left:-20px;
			margin-bottom:20px;
			text-shadow:0 -1px rgba( 0, 0, 0, .25 ), 0 1px rgba( 0, 0, 0, .25 );

			-moz-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
			-webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
			-o-box-shadow:2px 2px 0 rgba(0,0,0,0.1);
			box-shadow:2px 2px 0 rgba(0,0,0,0.1);
			border: none;

			&:before{
				content:'';
				background-image:url( '@{themeurl}/assets/images/jv-ribbon-shadow.png' );
				display:block;
				width:10px;
				height:10px;
				position:absolute;
				bottom:0;
				left:0;
				margin-bottom:-10px;
				z-index:-1;
			}
		}
	}
	.single-item-tab .container .col-md-3 .lava-wg-author-contact-form{
		position: relative;
		top: 0px;
	}
	.single-item-tab{
		z-index:3;
		background-color:transparent;
	}

	.sticky-wrapper {
		.javo-spyscroll {
		    background-color: transparent;
		    margin-bottom: 0px;
		    height: 70px;
			position:absolute;
			visibility:hidden;
			opacity:0;
		}
		&.is-sticky {
			.javo-spyscroll {
				background-color: #454545 !important;
				width:auto !important;
				left:0;
				right:0;
				visibility:visible;
				opacity:1;
			}
		}
	}
}
.lg-backdrop{
	z-index:99999;
}
.lg-outer{
	z-index:100000;
}


// Single Page Navigation
.single-lv_listing{
	#header-one-line{
		background-color: rgba( 0, 0, 0, 0 );
		background-image: linear-gradient( top, rgba( 0, 0, 0, .5 ) 0%, rgba( 0, 0, 0, 0 ) 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#00000000', GradientType=0);
		background-image: -webkit-linear-gradient( top, rgba( 0, 0, 0, .5 ) 0%, rgba( 0, 0, 0, 0 ) 100% );
		background-image: -moz-linear-gradient( top, rgba( 0, 0, 0, .5 ) 0%, rgba( 0, 0, 0, 0 ) 100% );
		background-image: -ms-linear-gradient( top, rgba( 0, 0, 0, .5 ) 0%, rgba( 0, 0, 0, 0 ) 100% );
		background-image: -o-linear-gradient( top, rgba( 0, 0, 0, .5 ) 0%, rgba( 0, 0, 0, 0 ) 100% );
		background-repeat: repeat-x;
		box-shadow: 0 0 0;
		border: 0;
		position:absolute;
		left:0;
		right:0;
		background-color:rgba(0,0,0,0);
		.javo-main-navbar{
			background:transparent;
		}
	}
	#javo-navibar {
		.navbar-left {
			&>li {
				padding-top: 7px;
				padding-bottom: 7px;
			}
		}
	}
}

//-------------------------------------------------------------------
//		Sub 12. Map Navigation
//-------------------------------------------------------------------
body.lv-map-template{
	header#header-one-line{
		& > nav.javo-main-navbar{
			& > .container > .container-fluid{
				& > .row{
					& > .navbar-header{
						& > .pull-right{
							& > .javo-map-box-inner-switcher{
							/*
								position:absolute;
								left:0;
								right:0;
								text-align:right;
								top:50%;
								transform: translate( 0, -50% );
								-webkit-transform: translate( 0, -50% );
								-moz-transform: translate( 0, -50% );
								-ms-transform: translate( 0, -50% );
								-o-transform: translate( 0, -50% );
								padding-right:0;
								*/
								@media only screen and( min-width:@sm-min ){
									&{
										display:none;
										visibility:hidden;
									}
								}
							}
						}
					}
				}
			}
		}
	}

}