.jv-lome a,
.jv-lome a:active,
.jv-lome a:focus,
.jv-lome .tg-cats-holder,
.jv-lome .tg-item-title,
.jv-lome .tg-media-button {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease, -webkit-transform 0.3s ease-in-out;
	-moz-transition: opacity 0.25s ease, color 0.25s ease, -moz-transform 0.3s ease-in-out;
	-ms-transition: opacity 0.25s ease, color 0.25s ease, -ms-transform 0.3s ease-in-out;
	-o-transition: opacity 0.25s ease, color 0.25s ease, -o-transform 0.3s ease-in-out;
	transition: opacity 0.25s ease, color 0.25s ease, transform 0.3s ease-in-out;
}
.jv-lome.tg-item {
    overflow: hidden;
}
.jv-lome .tg-item-content,
.jv-lome .tg-item-media-holder,
.jv-lome .tg-item-overlay {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.jv-lome:hover .tg-item-overlay {
	opacity: 0.1;
}
.jv-lome .tg-item-content {
	margin: 22px;
}
.jv-lome .tg-item-link {
    position: absolute;
    display: block;
    top: -500%;
    left: -22px;
    right: -22px;
    height: 1000%;
}
.jv-lome .tg-item-title,
.jv-lome .tg-item-title a {
	position: relative;
	display: block;
    font-size: 20px;
	line-height: 26px;
	font-weight: 600;
	margin: 0 !important;
	padding: 0 !important;
	text-transform: uppercase;
}
.tg-layout-justified .jv-lome .tg-item-title,
.tg-layout-justified .jv-lome .tg-item-title a {
    font-size: 14px;
	line-height: 18px;
}
.jv-lome .tg-item-title  {
	margin: 10px 0 0 0!important;
}
.jv-lome .tg-item-date {
	position: relative;
	display: block;
    font-size: 14px;
	line-height: 16px;
	margin: 0;
	padding: 0;
	font-style: italic;
}
.tg-layout-justified .jv-lome .tg-item-date {
    font-size: 12px;
	line-height: 16px;
}
.jv-lome .mejs-overlay-play {
	display: none !important;
}

.jv-lome .tg-media-button {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
}
.jv-lome .tg-cats-holder a:hover,
.jv-lome .tg-media-button:hover {
	opacity: 0.75;
}
.jv-lome .tg-media-button i {
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
    font-size: 18px;
	line-height: 20px;
	cursor: pointer;
}
.jv-lome .tg-media-button .tg-icon-add {
    font-size: 28px;
}
.jv-lome .mejs-overlay-play {
	display: none !important;
}

/** Javo Rating average **/
.jv-lome .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    left: 0;
    margin: 10px 5px;	
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-lome .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-lome .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-spot/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-lome .tg-jv-tax-wrap {padding:15px 0 0 0;}
.jv-lome .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#ffffff !important; letter-spacing:0.5em;}
.jv-lome .tg-jv-category {margin-right:15px;}